.icon-alingment, .tools i, .mensaje-puntos i {
  position: relative;
  top: 2px; }

body {
  margin: 0;
  min-width: 750px;
  font-family: "Open Sans", sans-serif;
  background: #B5C6CF; }

* {
  box-sizing: border-box; }

.container {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 25px;
  width: 799px;
  height: 838px;
  max-width: none !important;
  background: white;
  box-shadow: 1px 0px 1px #777777; }

.col-xs-12 {
  padding: 0; }

.reservation {
  display: inline;
  border: 1px solid black; }
  .reservation h2 {
    color: #D13533;
    display: inline;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif; }
  .reservation span {
    display: inline;
    white-space: nowrap; }
    .reservation span i {
      padding: 0 5px;
      color: #777777; }
  .reservation div {
    display: inline; }

.warnings {
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 9px; }

.red {
  background: #D13533;
  margin-right: 5px;
  padding: 4px 14px; }

.yellow {
  background: #FFBD47;
  padding: 4px 15px; }

h4 {
  margin: -13px 0 35px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #777777; }

.tools {
  padding: 0;
  list-style: none; }
  .tools li {
    display: inline;
    padding: 12px 18px;
    border: 1px solid #D5D5D3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin-right: 9px;
    font-size: 11px;
    font-family: "Ubuntu", sans-serif;
    color: #777777; }
  .tools i {
    font-size: 18px;
    color: #777777;
    padding-right: 5px; }

.right {
  text-align: right; }

.entrada-salida {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px; }
  .entrada-salida .border-right {
    border-right: 1px solid #D5D5D3; }
  .entrada-salida .border-left {
    border-left: 1px solid #D5D5D3; }
  .entrada-salida .col-xs-2 {
    padding: 0;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 20px; }
    .entrada-salida .col-xs-2 span {
      font-size: 11px; }
    .entrada-salida .col-xs-2 h3 {
      margin: 0;
      font-size: 18px;
      white-space: nowrap;
      position: relative; }
    .entrada-salida .col-xs-2 .right-side-day {
      font-size: 10px;
      position: absolute;
      top: -3px;
      left: 10px; }
      .entrada-salida .col-xs-2 .right-side-day .right-side-year {
        position: absolute;
        margin-top: -5px; }
  .entrada-salida .col-xs-4 {
    margin-right: -4px;
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 20px; }
    .entrada-salida .col-xs-4 span {
      font-size: 11px;
      margin-right: 40px; }
    .entrada-salida .col-xs-4 h3 {
      margin: 0;
      font-size: 18px;
      white-space: nowrap;
      position: relative; }

.mensaje-puntos {
  color: #22CAC0;
  font-size: 11px;
  margin-bottom: 40px;
  margin-top: -23px; }
  .mensaje-puntos i {
    font-size: 20px;
    padding: 0 5px 0px 10px;
    position: relative;
    top: 2px; }

section .main-left-column {
  padding-left: 5px;
  padding-right: 37px; }
section .main-right-column {
  padding: 25px;
  margin-left: -5px; }
section .border {
  border: 1px solid #D5D5D3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
section h1 {
  margin: 0; }
section .heading {
  font-size: 12px;
  color: #ACACAC;
  font-family: "Ubuntu", sans-serif; }
section .sub-text {
  font-size: 13px;
  color: black;
  margin-top: -7px;
  margin-bottom: 25px; }

img {
  max-width: 70%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%; }

.guest-name {
  color: #D13533;
  font-size: 15px;
  margin-top: 0;
  margin-left: -35px; }

.guest-title {
  color: #D13533;
  font-size: 9px;
  margin-left: -35px;
  margin-top: -5px; }

.contact-info p:nth-child(2) {
  font-size: 13px;
  margin-top: -10px; }
.contact-info p:nth-child(3) {
  color: #22CAC0;
  border-bottom: 1px solid;
  border-bottom-style: dotted;
  width: 85px;
  font-size: 11px;
  margin-top: -5px;
  margin-bottom: 25px; }

.tag-list {
  list-style: none;
  padding-left: 0; }
  .tag-list li {
    float: left;
    font-size: 11px;
    padding: 5px 10px;
    background: #777777;
    border-radius: 3px;
    color: white;
    margin-right: 10px; }

.margin-bottom {
  margin-bottom: 30px; }

/*# sourceMappingURL=styles.css.map */
